*{
    user-select: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black;
    cursor: n-resize;
  }
html{
    background-color: gray;
}
.click{
    width: 500px;
    height: 500px;
    font-size: 150px;
    border: none;
}
button:hover{
    color: yellow;
}
button{
    border: none;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 2px solid white;
    background-color: black;
    color: white;
}
.container{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}
.upgrades{
    padding: 20px;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.upgradeBTN,
.helpBTN{
    width: 100%;
}
.upgrade{
    text-align: left;
    display: inline;
}
